// Dark theme
$backgroundDark: #171b27;
$sidebarDark: #282c37;
$textDark: #fff;

// Bright theme
$backgroundBright: #fff;
$sidebarBright: #f3f4f5;
$textBright: #171b27;

// Brand
$brandPrimary: #0ec604;
